.body {
    display: flex;
    
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    
}

.li {
    gap: 10px;
}